name: Go CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go 1.24.5
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.5'

      - name: Run tests
        run: go test -v ./...

      - name: Build main.exe
        run: go build -o ./bin/main.exe cmd/app/main.go

      - name: Upload main.exe artifact
        uses: actions/upload-artifact@v4
        with:
          name: main-exe
          path: ./bin/main.exe
