name: Go CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - uses: actions/checkout@v4

      # Setup Go
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.5'

      # Cache Go modules
      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-


      # Install Wire
      - name: Install Wire
        run: go install github.com/google/wire/cmd/wire@latest

      # Generate Wire code
      - name: Generate Wire code
        run: wire ./internal/infrastructure/wire/...

      # Run tests
      - name: Run tests
        run: go test -v ./...

      # Build main.exe
      - name: Build main.exe
        run: go build -o ./bin/main.exe cmd/app/main.go

      # Upload binary as artifact
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: main-exe
          path: ./bin/main.exe
